html {
  overflow: hidden;
  cursor: none;
}
* {
}

body {
  overflow: hidden;
  cursor: none;
  /* pointer-events: none; */
  width: 100%;
  height: 100%;
}

.progress-bar {
  position: absolute;
  left: 1%;
  bottom: 2%;
  width: 12%;
  height: 3%;
}
.progress {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #9393938e;
  border-radius: 5px;
  overflow: hidden;
  border: 4px solid black;
}
.progress__fill {
  width: 100%;
  height: 100%;
  background-color: red;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.progress__hp {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font: bold 18px "Quicksand", sand-serif;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.score {
  position: absolute;
  top: 3%;
  right: 5%;
  font: bold 18px "Quicksand", sand-serif;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

/* Стили для кастомного курсора -*/
.cursor {
  /* display: none; */

  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #b3b3b3e0;
  background-color: #edededcf;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22),
    border 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* Создание точки в центре курсора */
.point {
  z-index: 25;
  /* display: none; */
  content: "";
  width: 6px;
  height: 6px;
  background-color: #b3b3b3e0;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;

  transition: width 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22),
    height 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22),
    background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.point.--attack {
  background-color: #873131e0;
  transition: background-color cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
}
.cursor.--attack {
  border: 4px solid #873131e0;
  background-color: #e25a5acf;
  width: 24px;
  height: 24px;

  transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
    height cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
    background-color cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
}

.point.--interaction {
  background-color: #21691fe0;
  transition: background-color cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}
.cursor.--interaction {
  border: 4px solid #21691fe0;
  background-color: #67e760c2;
  width: 7px;
  height: 7px;

  transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.1s,
    height cubic-bezier(0.23, 1, 0.32, 1) 0.1s,
    background-color cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}
.ability-block {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 15%;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 6;
  top: 0;
  left: 0;
  bottom: 0;
}
.abilities {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  padding-left: 20%;
  margin: 0;
}
.abilities__block {
  width: 5rem;
  height: 5rem;
  margin-bottom: 15px;
  padding: 10%;

  border: 4px solid #21821eae;
  border-radius: 5px;
}
.abilities__block.--active {
  outline: rgba(3, 244, 3, 0.96) solid 3px;
}
